

.pair-label{
  text-align: right;
}

.pair-name{
  text-align: left;
}



.form-filter{
width: 50%;
display: inline;
}

#form-views{
  height: 600px;
}

.form-label{
line-height: 30px;
}

.form-input{
  margin: 5px 0 5px 0;
}
