<form ng-submit="processForm()">
<div class='topic-tab topic-delivery-main'>
  <h3> Delivery Tracking </h3><br>
	<ul class="nav nav-tabs">
	  	<li ui-sref-active="active"><a ui-sref=".1" > 1. Contractor Details </a></li>
	    <li ui-sref-active="active"><a ui-sref=".2"> 2. Recipient Details </a></li>
	    <li ui-sref-active="active"><a ui-sref=".3"> 3. Delivery Details </a></li>
	    <li ui-sref-active="active"><a ui-sref=".4"> 4. Delivery Form Upload </a></li>
	    <li ui-sref-active="active"><a ui-sref='.confirmation'>5. Confirmation Page</a></li>
	</ul>

  <div id="form-views" ui-view>
  	  <div ng-include="'views/delivery/1.html'"></div>
  </div>
  </div>
</form>

