<div class='topic-tab'>
  <div class="form-group">
    <h4>Delivery form upload</h4><br>
    <p class="help-block">Must include clear image of signature</p>
    <input type="file" id="file"><br>
    <img id="blah" src="#" alt="Preview your document image here"/>
  </div>

  <div class='pull-left'>
    <a type="button" class="btn btn-primary" ui-sref="delivery.3">Back</a>
  </div>
  <div class='pull-right'>
		<a type="button" class="btn btn-success" ui-sref="delivery.confirmation">Submit</a>
  </div>
</div>

<script> 
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#blah').attr('src', e.target.result)
      }
        reader.readAsDataURL(input.files[0]);
    }
  }

  $("#file").change(function(){
    readURL(this);
  });
</script>

