<h3>Purchase Aquisition Orders</h3>
	<table class='table table-bordered table-hover'> 
		<thead id='table-header'>
			<td> <strong>Company Name </strong></td>
			<td> <strong>Item Count </strong></td>
			<td> <strong>Total Cost </strong></td>
			<td> <strong>Representative Name </strong></td>
			<td></td>
			<td></td>
		</thead>
		<tbody>
			<tr ng-repeat="order in orders | filter : {show: 'true'}"> 
				<td> <a ui-sref='detail({id: order.id})'>{{ order.name }} </a></td>
				<td> {{ order.n_types }} </td>
				<td> {{ order.cost }} </td>
				<td> {{ order.repname }} </td>
				<td>
					 <a class="btn btn-success btn-xs" href ng-click="show({{order}})">Approve</a> 


					 <script type='text/ng-template' id='modal_approve.html'>
				 <div class="modal fade">
		          <div class="modal-dialog">
		            <div class="modal-content">
		              <div class="modal-header">
		                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title">Approve Order for {{order.repname}} </h4>
		              </div>
		              <div class="modal-body">
		                <div class='row'>
		                	<div class='col-xs-6 col-sm-3 col-md-offset-3'>
			                <p> <strong>Purchase Order: </strong></p>
							<p> <strong>Delivery Date: </strong></p>	
							<p> <strong>Order Cost: </strong></p>
							</div>	
							<div class='col-xs-6 col-sm-3 '>
							<p> {{ order.order_num }} </p>
							<p> {{ order.date }} </p>	
							<p> {{ order.cost }} </p>	
							</div>
						</div>
		              </div>
		              <div class="modal-footer">
		                <button type="button" ng-click="close())" class="btn btn-default" data-dismiss="modal">Cancel</button>
		                <button type="button" ng-click="hide({{order.id}})" class="btn btn-success" data-dismiss="modal">Approve</button>
		              </div>
		            </div>
		          </div>
		        </div>
		     </script>		

				</td>
				<td>
					 <a class="btn btn-warning btn-xs" href ng-click='show_reject( {{order}})'>Reject</a>
				</td>	

				
		     <script type='text/ng-template' id='modal_reject.html'>
				 <div class="modal fade">
		          <div class="modal-dialog">
		            <div class="modal-content">
		              <div class="modal-header">
		                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title">Reject Order for {{order.repname}}</h4>
		              </div>
		              <div class="modal-body">
		                <div class='row'>
		                	<div class='col-xs-6 col-sm-3 col-md-offset-3'>
			                <p> <strong>Purchase Order: </strong></p>
							<p> <strong>Delivery Date: </strong></p>	
							<p> <strong>Order Cost: </strong></p>
							</div>	
							<div class='col-xs-6 col-sm-3 '>
							<p> {{ order.order_num }} </p>
							<p> {{ order.date }} </p>	
							<p> {{ order.cost }} </p>	
							</div>
						</div>der.cost}} </p>
		              </div>
		              <div class="modal-footer">
		                <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Cancel</button>
		                <button type="button" ng-click="hide({{order.id}})" class="btn btn-warning" data-dismiss="modal">Reject</button>
		              </div>
		            </div>
		          </div>
		        </div>
		     </script>		
			</tr>
		</tbody>
	</table>	
</div>
