
<div class='topic'>
  <h3> Contractor Details </h3>
  <label for="firstname">First Name</label>
  <input type="text" class="form-control" id='firstname' placeholder="Sharleen" ng-model="formData.first_name"><br>
  <label for="lastname">Last Name</label>
  <input type="text" class="form-control" id="lastname" placeholder="Tu" ng-model="formData.last_name"><br>
  <label for="id">Contractor ID</label>
  <input type="text" class="form-control" id="id" placeholder="ex: PRIZ-102356" ng-model="formData.id"><br>
  <label for="email">Email</label>
  <input type="email" class="form-control" id="email" placeholder="bob@company.com" ng-model="formData.email" >
  <br>
  
   <label for="form-control">Installation Status</label>
  <select class="form-control" ng-model="formData.status">
    <option>Installed</option>
    <option>Not Installed</option>
  </select>

<br>

  <label for="barcode">Barcode Number</label>
  <input type="email" class="form-control" id="barcode" ng-model="formData.email" >
  <br>

 
  <div class='pull-right'>
    <a type="button " class="btn btn-primary" ui-sref="delivery.2"> Submit </a>
  </div>
  <br>
  <br>
</div>


