<div class='topic-delivery'>
  <div class="form-group">
    <h3>Delivery form upload</h3>
    <p class="help-block">Must include clear image of signature</p>
    <input type="file" id="file">
    <img id="blah" src="#" alt="Preview your document image here"/>
  </div>
  <div class='pull-left'>
  <a type="button" class="btn btn-primary" ui-sref="delivery.3"> Back </a></div>
  <div class='pull-right'>
	<a type="button" class="btn btn-success" ui-sref="delivery.confirmation"> Submit </a></div>
</div>

