


<div class='topic-delivery '>
	<h3 class='text-center'> Your form has been submitted. </h3>
	<p> <strong>Contractor: </strong>{{formData.first_name}} {{formData.last_name}}</p>
	<p> <strong>Contractor ID: </strong>{{formData.id}}</p>
	<p> <strong>Contractor email: </strong>{{formData.email}}</p><br>
	<p> <strong>Package order number: </strong>{{formData.order}}</p>
	<p> <strong>Sent to: </strong> {{formData.recipient}}</p>
	<p> {{formData.time}} {{formData.date}} </p>
	<p> {{formData.addr}}</p>
	<p> <strong>Delivery status: </strong>{{formData.status}}</p>
	<p> <strong>Number of Packages: </strong>{{formData.n_items}}</p>
	<p> <strong>Package desc: </strong>{{formData.desc}}</p>
	<p> <strong>Additional notes: </strong>{{formData.notes}}</p>


	<a type="button" class="btn btn-primary" ui-sref="/"> Back to Home </a>

</div>




