<div class="row marketing">
  <!-- <h4>Approvals</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Sales</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
 -->


  <!-- <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p> -->
 
 <div class='topic'>
   <h3 class='text-center topic-name'> Field Services </h3>
    <div class='row'>
      <div class='col-md-3'>
        <a class="btn btn-home btn-default btn-block" ui-sref='delivery'>Delivery Tracking</a>
      </div>
      <div class='col-md-3'>
        <a class="btn btn-home btn-default btn-block"> - </a>
      </div>  
      <div class='col-md-3'>
        <a class="btn btn-home btn-default btn-block"> - </a>
      </div>
    </div>
  </div>
   
    <div class='topic'>
    <h3 class='text-center topic-name'> Management </h3>
  <div class='row'>
    <div class='col-md-3'>
        <a class="btn btn-home btn-default btn-block" ui-sref="purchase">Purchase Req Approvals</a>
      </div>
    <div class='col-md-3'>
      <a class="btn btn-home btn-default btn-block" href="/geeks" role="button"> - </a>
    </div>
    <div class='col-md-3'>
      <a class="btn btn-home btn-default btn-block" href="/nerds" role="button"> - </a>
    </div>  
    <div class='col-md-3'>
      <a class="btn btn-home btn-default btn-block" href="/geeks" role="button"> - </a>
    </div>
  </div>
  </div>

  <div class="footer">
        <p><span class="glyphicon glyphicon-check"></span> Capriza Playground </p>
   
    </div>

  
  
