<div class="row">
	<div class='col-md-4'>
 		<div class='topic topic-main'>
   			<h3 class='text-center topic-name'> Field Services </h3>
        <a class="btn btn-home btn-default btn-block " ui-sref='delivery'>Delivery Tracking</a>
        <a class="btn btn-home btn-default btn-block" ui-sref='parts'>Order Parts</a>
        <a class="btn btn-home btn-default btn-block" ui-sref='cable'>Cable Installations</a>
        <a class="btn btn-home btn-default btn-block" ui-sref='product-lookup'>Product Lookup</a>
  	</div>
	</div>

	<div class='col-md-4'>
		<div class='topic topic-main'>
  		<h3 class='text-center topic-name'>Sales</h3>
      <a class="btn btn-home btn-default btn-block" ui-sref="sales">Dashboard</a>
      <a class="btn btn-home btn-default btn-block" ui-sref="tasks">My Tasks</a>
  	</div>
	</div>
	<div class='col-md-4'>
		<div class='topic topic-main'>
  		<h3 class='text-center topic-name'>Management</h3>
      <a class="btn btn-home btn-default btn-block" ui-sref="purchase">Purchase Req Approvals</a>
  	</div>
	</div>
</div>

<div class='row'>
	<div class='topic'>
  	<h3 class='text-center topic-name'>Human Resources</h3>
    <div class='row'>
      <div class='col-md-4'>
        <a class="btn btn-home btn-default btn-block" ui-sref="pto">PTO Approvals</a>
      </div>
      <div class='col-md-4'>
        <a class="btn btn-home btn-default btn-block" ui-sref="pto-request">Submit PTO Request</a>
      </div>
      <div class='col-md-4'>
        <a class="btn btn-home btn-default btn-block" ui-sref="expenses">Expenses Portal</a>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-4'>
        <a class="btn btn-home btn-default btn-block" ui-sref="directory">Corporate Directory</a>
      </div>
      <div class='col-md-4'>
        <a class="btn btn-home btn-default btn-block" ui-sref="directory2">Corporate Directory 2</a>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-check"></span> Capriza Playground </p> 
</div>
