<a type="button" class="btn btn-primary" ui-sref="detail({id:order.id})"> Back </a>

<h3> {{item.item_name}}</h3>

<div class='topic'>
<div> {{ item.n_units }} piece(s)</div>
<div> {{ item.subtotal }} USD </div>
</div>

<h3> Materials</h3>
<div class="topic">
  <div class='details'><strong>Material: </strong>{{ item.material }}</div>
  <div class='details'><strong>Material Group: </strong>{{item.material_group }}</div>
</div>

<h3> Delivery on {{ item.date }} </h3>
<div class="topic">
 	<div class='details'><strong>Office: </strong>{{ item.office }}</div>
    <div class='details'><strong>Address: </strong>{{ item.addr }}</div>
</div>

<h3> Notes </h3>
<div class="topic">
  <div>{{item.notes}}</div>
</div>

 <h3> Pricing Conditions </h3>
<div class="topic">
<div class='details'><strong>Gross Price (PBXX): </strong>{{item.pbxx }}</div>
<div class='details'><strong>Cash Discount (SKTO): </strong>{{item.skto }}</div>
</div>


