<div class='container-top'>
	<a type="button" class="btn btn-primary" ui-sref='sales.leads.table'> Back to Leads </a>
	<h1> Lead detail </h1>
	<div class='row topic'>
		<div class='pair-label col-xs-6 col-sm-3'>
			<div><strong class='form-label'>Lead Owner :</strong></div>
			<div><strong class='form-label'>Name :</strong></div>
			<div><strong class='form-label'>Title:</strong></div>
			<div><strong class='form-label'>Company :</strong></div>
			<div><strong class='form-label'>Last Engagement :</strong></div>
		</div>

		<div class='pair-name col-xs-6 col-sm-3'>
			<div class='form-label'>{{lead.owner}}</div>
			<div class='form-label'>{{lead.name}}</div>
			<div class='form-label'>{{lead.title}}</div>
			<div class='form-label'>{{lead.company}}</div>
			<div class='form-label'>{{lead.engagem}}</div>
		</div>

		<div class='pair-label col-xs-6 col-sm-3'>
			<div><strong class='form-label'>Phone:</strong></div>
			<div><strong class='form-label'>Email :</strong></div>
			<div><strong class='form-label'>Lead Status :</strong></div>
			<div><strong class='form-label'>Rating :</strong></div>
		</div>

		<div class='pair-name col-xs-6 col-sm-3'>
			<div class='form-label'>{{lead.phone}}</div>
			<div class='form-label'>{{lead.email}}</div>
			<div class='form-label'>{{lead.status}}</div>
			<div class='form-label'>{{lead.rating}}</div>
		</div>
	</div>

	<h1> Product Interest </h1>

	<h1> Additional Information </h1>

	<div class='row topic'>
		<div class='pair-label col-xs-6 col-sm-3'>
			<div><strong class='form-label'>Address :</strong></div> 
		</div>

		<div class='pair-name'>
		<div class='form-label'>{{address}}</div> 

		</div>

		<div class='pair-label col-xs-6 col-sm-3'>
			<div><strong class='form-label'>website :</strong></div> 
		</div>

		<div class='pair-name'>
			<div class='form-label'>{{website}}</div> 
		</div>
	</div>


	<h1> Address Information </h1>

	<div class='row topic'>
	<div class='pair-label col-xs-6 col-sm-3'>
		<div><strong class='form-label'> Created By :</strong></div>
	</div>

	<div class='pair-name col-xs-6 col-sm-3'>
		<div class='form-label'>{{lead.created_by}}</div>
	</div>

	<div class='pair-label col-xs-6 col-sm-3'>
		<div><strong class='form-label'>Last Edited By :</strong></div>
	</div>

	<div class='pair-name col-xs-6 col-sm-3'>
		<div class='form-label'>{{lead.last_edited}}</div>
	</div>

	</div>

	<h1> Additional Information </h1>

	<div class='row'>
	<div class='pair-label col-xs-6 col-sm-3'>
		<div><strong class='form-label'>Annual Revenue :</strong></div>
		<div><strong class='form-label'>No. of Employees :</strong></div>
		<div><strong class='form-label'>Description:</strong></div>
		<div><strong class='form-label'>Created By :</strong></div>
	</div>

	<div class='pair-name col-xs-6 col-sm-3'>
		<div class='form-label'>{{lead.revenue}}</div>
		<div class='form-label'>{{lead.n_employee}}</div>
		<div class='form-label'>{{lead.desc}}</div>
		<div class='form-label'>{{lead.created_by}}</div>
	</div>

	<div class='pair-label col-xs-6 col-sm-3'>
		<div><strong class='form-label'>Industry:</strong></div>
		<div><strong class='form-label'>Lead Source :</strong></div>
		<div><strong class='form-label'>Modified By :</strong></div>
	</div>

	<div class='pair-name col-xs-6 col-sm-3'>
		<div class='form-label'>{{lead.industry}}</div>
		<div class='form-label'>{{lead.lead_src}}</div>
		<div class='form-label'>{{lead.last_edited}}</div>
	</div>
</div>
