	<div class='topic'>
	<br>
	<ul class="nav nav-tabs">
		<li ui-sref-active="active"><a ui-sref=".home" > Home </a></li>
	  	<li ui-sref-active="active"><a ui-sref=".opp" > My Opportunities </a></li>
	    <li ui-sref-active="active"><a ui-sref=".leads"> My Leads </a></li>
	    <li class="disabled"><a > Dashboard </a></li>
	    <li class="disabled"><a > Reports </a></li>
	    <li class="disabled"><a > Files </a></li>
	    <li class="disabled"><a > Cases </a></li>
	    <li class="disabled"><a > Profile </a></li>
	    <li class="disabled"><a > Chatter </a></li>
	    <li class="disabled"><a > Vehicles </a></li>
	    <li class="disabled"><a > Groups </a></li>
	    
	</ul>
<div class='topic-tab'>
  <div id="form-views" ui-view>
  	  <div ng-include="'views/sales/home.html'"></div>
  </div>
  </div>

</div>
