<div class='container-top'>
	<a type="button" class="btn btn-primary" ui-sref='tasks'> Back to My Tasks</a>

	<h3> Task detail </h3>

	<div class='row topic'>
		<div class='pair-label col-xs-6 col-sm-3'>
			<div><strong class='form-label' for='assignedto'>Assigned To:</strong></div>
			<div><strong class='form-label' for='subject'>Subject:</strong></div>
			<div><strong class='form-label' for='duedate'>Due Date:</strong></div>
			<div><strong class='form-label' for='comments'>Comments:</strong></div>
		</div>
		<div class='pair-name col-xs-6 col-sm-3'>
			<div class='form-label' id='assignedto'>{{task.acct}}</div>
			<div class='form-label' id='subject'>{{task.subj}}</div>
			<div class='form-label' id='duedate'>{{task.date}}</div>
			<div class='form-label' id='comments'>{{task.notes}}</div>
		</div>
		<div class='pair-label col-xs-6 col-sm-3'>
			<div><strong class='form-label' for='relatedto'>Related To:</strong></div>
			<div><strong class='form-label' for='name'>Name:</strong></div>
		</div>
		<div class='pair-name col-xs-6 col-sm-3'>
			<div class='form-label' id='relatedto'>{{task.opp}}</div>
			<div class='form-label' id='name'>{{task.acct}}</div>
		</div>
	</div>

	<h3> Additional Information </h3>
	<div class='row topic'>
		<div class='pair-label col-xs-6 col-sm-3'>
			<div><strong class='form-label' for='status'>Status:</strong></div> 
			<div><strong class='form-label' for='priority'>Priority:</strong></div> 
		</div>
		<div class='pair-name col-xs-6 col-sm-3'>
			<div class='form-label' id='status'>{{task.status}}</div> 
			<div class='form-label' id='priority'>{{task.priority}}</div> 
		</div>
	</div>


	<h3> System Information </h3>

	<div class='row topic'>
		<div class='pair-label col-xs-6 col-sm-3'>
			<div><strong class='form-label' for='createdby'> Created By:</strong></div>
		</div>

		<div class='pair-name col-xs-6 col-sm-3'>
			<div class='form-label' id='createdby'>{{task.created_by}}</div>
		</div>

		<div class='pair-label col-xs-6 col-sm-3'>
			<div><strong class='form-label' for='lastedited'>Last Edited By:</strong></div>
		</div>

		<div class='pair-name col-xs-6 col-sm-3'>
			<div class='form-label' id='lastedited'>{{task.last_edited}}</div>
		</div>
	</div>
</div>
